@media only screen and (min-width : 480px) and (max-width : 1023px) {
  img {
    max-width: 100%;
    height: auto!important;
  }

  .container {
    max-width: 800px;
  }

  .float-item {
    margin: 0 1%;
  }

  .grid1,.grid1-box {
    width: 6.3%;
  }

  .grid2,.grid2-box {
    width: 14.6%;
  }

  .grid3,.grid3-box {
    width: 22.9%;
  }

  .grid4,.grid4-box {
    width: 31.3%;
  }

  .grid5,.grid5-box {
    width: 39.6%;
  }

  .grid6,.grid6-box {
    width: 47.9%;
  }

  .grid7,.grid7-box {
    width: 56.3%;
  }

  .grid8,.grid8-box {
    width: 64.6%;
  }

  .grid9,.grid9-box {
    width: 72.9%;
  }

  .grid10,.grid10-box {
    width: 81.3%;
  }

  .grid11,.grid11-box {
    width: 89.6%;
  }

  .grid12,.grid12-box {
    width: 98%;
  }

  .portrait-container {
    width: 100%;
  }

  .studio-member {
    margin-bottom: 10px;
  }

  .portrait {
  }

  .back {
    padding-top: 20px;
  }

  .project-client,.project-title {
    font-size: .8em;
  }

  #about-us p {
    font-size: 1.3em;
  }

  .slide,.slideshow {
    height: 600px;
  };
}
