---
layout: default
#prefix: "/b/_site"
---
<div class="container clear">
	<div class="left grid12 float-item main-container">
		<img src="{{page.header}}" alt="page header graphic">
		<div class="post-caption">
    	<h2 class="post-title float-item post-meta">{{ page.title }}</h2>
    	<p  id="direct-date" class="float-item post-meta">{{ page.date | date: " %A, %B %d, %Y"}}</p>
   </div>
		<div class="post">
			<div class="left grid7 float-item">
				{{ content }}
			</div>
			<div class="left  grid4 float-item wide-push1">
				<div class="studio-member left grid2">
					<div class="portrait-container">
						<div class="portrait">
							<div class="face front">
								<img width="150" height="150" src="{{ page.prefix}}/img/people/{{page.author-initials}}.jpg" class="attachment-full wp-post-image" alt="{{page.author}}" title="{{page.author}}"/>
							</div>
							<div class="face back dark-grey">
								<div class="name centered">{{page.author | Capitalize }}</div>
								<div class="title centered"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="left grid4 float-item wide-push1 bio">
				<p>
					{% case page.author-initials %}
					{% when 'bv' %}
						{% include bio/bv.html %}&nbsp;
					{% when 'sb' %}
						{% include bio/sb.html %}&nbsp;
					{% when 'jj' %}
						{% include bio/jj.html %}&nbsp;
					{% when 'ak' %}
						{% include bio/ak.html %}&nbsp;
					{% when 'ah' %}
						{% include bio/ah.html %}&nbsp;
					{% when 'bh' %}
						{% include bio/bh.html %}&nbsp;
					{% when 'br' %}
						{% include bio/br.html %}&nbsp;
					{% when 'dd' %}
						{% include bio/dd.html %}&nbsp;
					{% endcase %}
				</p>
			</div>
		</div>
	</div>
</div>
