---
layout: default
#prefix: "/b/_site"
domain: "http://blog.wordspicturesideas.com"
---
<div class="blog clear">
	<div class="post-banner" style="background-image: url('{{ page.banner }}')">
		<div class="post-caption container">
			<div class="grid8">
		    	<h2 class="post-title">{{ page.title }}</h2>
		    	<p id="direct-date" class="post-meta">{{ page.date | date: "%B %d, %Y"}}</p>
	    	</div> <!-- end grid -->
    	</div> <!-- end post-caption -->
	</div> <!-- end post-banner -->
	<div class="post-body clear container">
		<div class="left grid8">
			{{ content }}
			<div id="sharing-container" class="clear">
				<a id="twitter-share" class="social-share twitter-share-button" href="https://twitter.com/share?url={{ page.domain }}{{ page.url }}" target="_blank">Tweet</a>
				<a id="facebook-share" class="social-share" href="https://www.facebook.com/sharer/sharer.php?u={{ page.domain }}{{ page.url }}" target="_blank">Share</a>
			</div>
		</div> <!-- end content -->

		<div class="left float-item grid3 grid3-sm wide-push1 sidebar">
			<img src="/img/people/{{ page.author-initials }}.jpg" class="img-responsive"/>
			<div class="content">
				<p>
					{% case page.author-initials %}
					{% when 'bv' %}
						{% include bio/bv.html %}&nbsp;
					{% when 'sb' %}
						{% include bio/sb.html %}&nbsp;
					{% when 'jj' %}
						{% include bio/jj.html %}&nbsp;
					{% when 'ak' %}
						{% include bio/ak.html %}&nbsp;
					{% when 'ah' %}
						{% include bio/ah.html %}&nbsp;
					{% when 'bh' %}
						{% include bio/bh.html %}&nbsp;
					{% when 'br' %}
						{% include bio/br.html %}&nbsp;
					{% when 'dd' %}
						{% include bio/dd.html %}&nbsp;
					{% endcase %}
				</p>
			</div> <!-- content -->
		</div> <!-- end sidebar -->
	</div> <!-- end post-body -->
</div> <!-- end blog -->
